datalar/
results/
checkpoints/
compressai/__pycache__/
compressai/*/__pycache__/
compressai/models/__pycache__/
compressai/datasets/__pycache__/
compressai/layers/__pycache__/
compressai/losses/__pycache__/
compressai/ops/__pycache__/
compressai/optimizers/__pycache__/
compressai/registry/__pycache__/
compressai/utils/__pycache__/
compressai/typing/__pycache__/
compressai/transforms/__pycache__/
*.rar
*.pyc
*.tar
*/__pycache__
*/*/__pycache__/*.pyc
*.pyc